@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.education-slider {
	width: 90%;
	margin: 50px auto;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	flex: 2;
}

.education-slider p {
	font-size: 16px;
}