html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /*background-color: #6576db59;*/
  background-color: #c6c6ca59;
  font-family: 'roboto';
}

#root {
  margin-bottom: 40px;
}

.topNav-tabs {
  margin-left: 10px!important;
}

.App {
  width: 95%;
  margin: 0 auto;
}

@media(min-width:1500px){
  .App {
    width: 70%;
    margin: 0 auto;
  }
}

.img {
  width: 100%;
  position: relative;
}

h1 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  color: #3f51b5;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
}

.button {
  padding: 5px;
  background-color: #5c68b1;
  color: white;
  font-family: 'Roboto';
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1 !important;
}
.button:hover {
  background-color: #7079b1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width:768px) {
  .flex {
    justify-content: unset;
  }
  
}

.orange {
  color: #f58220;
}